html{
    box-sizing: border-box;

}
body{
    background:rgba(255,255,255,0.74);
    width: 90%;
    max-height: 800px;
    margin: 50px auto;
    font-family: ralway;
    padding: 20px;
    border-radius: 10px;
}
h1,p{
    text-align: center;
    margin: auto;
}
label{
    display: block;
    margin: 1en;
}
input,select{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 0.3en;
    background-color: #fbfbfb;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: 10px;
}
input[type=checkbox] input[type=radio] {
    display: inline;
    width: auto;
}
.inline label{
    display: inline;
    width: auto;
}
option{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
select{
    color: indigo;
}
#myvideo{
    z-index: -1;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
}
input[type="submit"],
input[type="reset"]  {
    background-color: bisque;
    color: black;
}
input[ type ="submit" ]:hover,
input[ type ="submit" ]:focus{
    background-color:rgb(48, 100, 100);
    color: aliceblue;
}
input[ type ="reset" ]:hover,
input[ type ="reset" ]:focus{
    background-color:rgb(48, 100, 100);
    color: aliceblue;
}
